/**
    * @name ComfyPink 🌺
    * @version 1.0.1
    * @description If you find any unthemed areas make a issue with a screenshot of that area, also try to provide the location of the area, that will be appreciated.
    * @author rysworldd#8238
    * @authorId 556120718669119499
    * @website https://rysworldd.carrd.co
**/

@import url('https://ryoncord.github.io/ComfyPink/base.css');

:root {
    --tooltip-color: #24141d;
    --primary-bg: #2e1a26;
    --secondary-bg: #3e2334;
    --tertiary-bg: #522f45;
    --accent-color: #d35e92;
    --accent-color-alt: #dc1f9b;
    --button-hover-color: #b84c7c;
    --mention-color: rgba(211, 94, 146, .25);
    --danger-color: #ed4245;
    --border-radius: 20px;
    --rs-small-spacing: 2px;  /* Spacing between avatar and status | MUST end in px */
    --rs-large-spacing: 3px;  /* Spacing between avatar and status for user popouts & modals/profiles | MUST end in px */
    --rs-width: 2px;  /* Width/thickness of status border */
    --rs-avatar-shape: 50%;  /* 50% for round - 0% for square */
    --rs-online-color: #43b581;  /* Colour for online status */
    --rs-idle-color: #faa61a;  /* Colour for idle status */
    --rs-dnd-color: #f04747;  /* Colour for dnd status */
    --rs-offline-color: #636b75;  /* Colour for offline status */
    --rs-streaming-color: #643da7;  /* Colour for streaming status */
    --rs-invisible-color: #747f8d;  /* Colour for invisible status - Note: this will only show for your own invisibility */
    --rs-phone-visible: block; /* Visibility of the phone icon next to a users avatar. | block = visible | none = hidden */
    --rs-phone-color: var(--rs-online-color); /* Colour of the ring and phone icon when a user is on their phone |  */
}
